<ion-grid>
  <ion-row>
    <ion-col>

      <div align="center" *ngIf="isApp; else elseBlock">
        <webcam [height]="platform.height" [width]="platform.width" [trigger]="triggerObservable"
          (imageCapture)="handleImage($event)" [allowCameraSwitch]="true" (initError)="handleInitError($event)"
          [imageQuality]=0.3 [mirrorImage]="never">
        </webcam>
      </div>
      <ng-template #elseBlock>
        <div align="center">
          <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
            [allowCameraSwitch]="false" (initError)="handleInitError($event)" [imageQuality]=0.3 [mirrorImage]="never">
          </webcam>
        </div>
      </ng-template>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div padding align="center">
        <ion-button (click)="triggerSnapshot()">{{ 'Capture' | translate }}</ion-button>
      </div>
    </ion-col>
    <ion-col>
      <div padding align="center">
        <ion-button (click)="close()">{{ 'Close' | translate }}</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>