<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Important
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Important</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Sliding item with text options on both sides -->
  <ion-item-sliding *ngFor="let task of tasks">
    <ion-item-options side="start">
      <ion-item-option (click)="edit(task)">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-item-option>
      <ion-item-option color="danger" (click)="delete(task)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item>
      <ion-icon name="warning-outline"></ion-icon>
      <ion-label>{{task.title}}</ion-label>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option (click)="done(task)">
        <ion-icon name="checkmark-done"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)" [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Task</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Title</ion-label>
          <ion-input type="text" placeholder="Task title" [(ngModel)]="task.title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Type</ion-label>
          <ion-select [(ngModel)]="task.type">
            <ion-select-option value="Critical">Critical</ion-select-option>
            <ion-select-option value="Important">Important</ion-select-option>
            <ion-select-option value="Not Important">Not Important</ion-select-option>
            <ion-select-option value="Uncategorized">Uncategorized</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
