<ion-header>
  <ion-toolbar>
    <img style="margin-left: 5px; height: 32px; width: 32px;" slot="start" alt="Icon" src="assets/icon/favicon64.png" />
    <ion-title slot="start" (click)="editGame()">{{game?.name}}</ion-title>
    <ion-chip slot="end" (click)="editPlayer(this.playerId)">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="{{playerProfilePic}}" />
      </ion-avatar>
      <ion-label>
        {{player?.name}}
      </ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='table'></div>
  <p class='center' *ngIf="curRound && curRound.isReveled">Average : {{getAverage()}}</p>
  <p class='center' *ngIf="curRound && votes?.length == 0">Pick your cards!</p>
  <ion-button class='center' *ngIf="curRound && !curRound.isReveled && votes?.length > 0" (click)="reveal()">Reveal</ion-button>
  <ion-button class='center1' *ngIf="curRound && curRound.isReveled && votes?.length > 0" (click)="reset()">Reset</ion-button>
  <div *ngFor="let player of players; index as i" [ngClass]="['player-box','player'+(i+1)]">
    <ion-avatar style="margin:auto; border: 5px solid white !important;" [style.border-color]="playerColor(player)">
      <img alt="{{player?.name}}" src="{{player?.profilePic}}" />
    </ion-avatar>
    <div class='player-name'>{{player?.name}}</div>
    <div class='player-name' *ngIf="curRound && curRound.isReveled">({{getVote(player?.id)}})</div>
  </div>

  <div class='cards'>
    <ion-button class='card' *ngFor="let num of selectedNumberSeries" [color]="curVote == num ? 'primary' : 'light'" (click)="vote(num)">{{num}}</ion-button>
  </div>

  <div class='count-cards'>
    <div *ngFor="let num of selectedNumberSeries">
      <ion-button class='card' *ngIf="curRound && curRound.isReveled && votes?.length > 0 && this.votesFor(num).length>0"  color="light">{{num}}</ion-button>
    </div>
  </div>

  <div class='count-cards-votes'>
    <div *ngFor="let num of selectedNumberSeries">
      <p class='count-card' *ngIf="curRound && curRound.isReveled && votes?.length > 0 && this.votesFor(num).length>0"  color="light">{{this.votesFor(num).length}}</p>
    </div>
  </div>

</ion-content>
