<ion-card>
  <ion-card-header>
    Create Game
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="form" (submit)="save()">
      <ion-item lines="full">
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" formControlName="name" required></ion-input>
      </ion-item>
      <!-- <ion-select>
        <ion-select-option *ngFor="let num of numberSeries; index as i" value="i">{{num}}</ion-select-option>
      </ion-select> -->
      <ion-button shape="round" expand="block" type="submit" [disabled]="saveClicked">Save</ion-button>
    </form>
  </ion-card-content>
</ion-card>