<ion-header>
  <ion-toolbar>
    <img style="margin: 10px; height: 128px; width: 128px;" slot="start" alt="Icon" src="assets/icon/favicon1080.png" />
    <ion-title slot="start" color="secondary" style="font-size: xxx-large; font-weight: bold;">Planning With Poker</ion-title>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon size="large" name="information-circle"></ion-icon>
      </ion-button>
      <ion-button href="https://github.com/pashyaaa/planningwithpoker">
        <ion-icon size="large" name="logo-github"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="flex: 0 0 auto; display: flex; width: 100%; height: 100%; align-items: flex-start; justify-content: center;">
    <img alt="Icon" src="assets/img/planning.jpg" />
    <div class="get-started">
      <h1>
        Why Choose Poker for Agile Planning?
      </h1>
      <div style="font-weight: bold;">
        Poker is a powerful tool that enables agile teams to collaboratively
        vote, estimate, and plan tasks. With its intuitive interface and
        real-time collaboration features, Poker helps teams streamline their
        planning process, improve accuracy in task estimation, and enhance
        overall productivity. Whether you are a small startup or a large
        enterprise, Poker can revolutionize the way your team plans and
        executes tasks.
      </div>
      <ion-button color="light" style="margin-top: 20px; width: 200px; height: 50px;" [routerLink]="'/poker'">Get Started</ion-button>
    </div>
  </div>
</ion-content>

