<ion-header>
  <ion-toolbar>
    <img style="margin: 10px; height: 128px; width: 128px;" slot="start" alt="Icon" src="assets/icon/favicon1080.png" />
    <ion-title slot="start" color="secondary" style="font-size: xxx-large; font-weight: bold;">Planning With Poker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="flex: 0 0 auto; display: flex; width: 100%; height: 100%; align-items: flex-start; justify-content: center;">
    <ion-button [routerLink]="'/poker'">Get Started</ion-button>
  </div>
</ion-content>
